In [ ]:
cadena_caracteres = "Hola mundo"
type(cadena_caracteres)

str

In [ ]:
falso = False # Falso es 0
verdadero = True # Verdadero es 1

In [ ]:
print(cadena_caracteres)

Hola mundo

In [ ]:
### Espera, el usuario tambien puede ingresar datos

In [ ]:
name = input("Mi nombre es:")
print(name)

num = int(input("ingresa un numero: "))
print(num + 1)

Mi nombre es:luis
luis
ingresa un numero: 4
5

Operaciones matematicas

In [ ]:
# Cuerto nivel de importancia
# Suma ordinaria
print(3 + 4)
variable1,variable2 = 20,40
print(variable1 + variable2)

# Resta Ordinaria
print(3 - 4)
v1 = 10.4
v2 = 15
Resultado = v2 - v1
print(Resultado)

7
60
-1
4.6

In [ ]:
# Tercer nivel de inportancia
# Multiplicacion ordinaria
print("Multiplicacion ordinaria")
M1, M2 = 2, 3.14
print(M1 * M2)
# Division Ordinaria
print("---------------------")
print("Division ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M5)
print(M5 / M6)
#DIVISION DE PISO
print("Division de piso")
print(M1 // M2)
print(M3 // M5)
print(M5 // M6)

Multiplicacion ordinaria
6.28
---------------------
Division ordinaria
0.4
1.5
0.8
Division de piso
0
1
0

In [ ]:
# Potencias
print("potencias")
print(2 ** 3)
p1,p2 = 7,2
print(p1 ** p2)

potencias
8
49

In [ ]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

50.24

Opercaion sitring

In [ ]:
HM = "Hola mundo"
print(HM)
a,b = "ta","co"
print(a + " " + b)

Hola mundo
ta co

In [ ]:
Animal = "Perro"
Nombre = "Alfredo"
Fruta = "Manzana"
Profesion = "Carpintero"
print(f"Hola soy {Nombre} y soy un {Animal}, me gusta la {Fruta} y soy {Profesion}")

Hola soy Alfredo y soy un Perro, me gusta la Manzana y osy Carpintero