# Temario
- listas
- tuplas
- Sets
- Diccionarios

# Estructura de datos
LAs estructuras de datos son formas de organizar informacion para trabajar con ella de manera ams eficciente


*   Listas -> ordenadas, modificadas, permiten duplicados
*   Tuplas -> odenadas, inmutables, permiten duplicados
*   Sets -> no ordenadas, sin duplicados
*   Diccioanrios -> pares clave: valor

Nota:
- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> Fisrt in, First out)
- Listas enlazdas o doblemente enlazadas

# Listas
Las listas son colecciones ordenadas que podemos modificar y almacenar alementos de distintos tipos de datos

In [2]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)

print(lista_de_compras[0])
print(lista_de_compras[1])
print(lista_de_compras[2])
print(lista_de_compras[3])

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']
manzanas
pan
leche
huevos

In [3]:
#Agregar un elemento a la lista .append
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [7]:
#Agregar un elemento pero en un lugar en especifico
lista_de_compras.insert(1,"platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [9]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
lista_de_compras

['manzanas',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [10]:
lista_de_compras.pop() # Sin nada dentro del paratesis elimina el ultimo elemento
lista_de_compras.pop(7) # o puedes agarrar la posicion que quieras (pero iniciando desde 0)
#Nota te retorna el numero eliminado

'jamon'

In [12]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [13]:
# len() saca el tamano de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [18]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() #sort sirve para odenar la lista de manera ascendente
print(promedios)
#ordenar una listad e manera descendente
promedios.sort(reverse=True)
print(promedios)

#Para investigar mas buscar metodos de ordenamiento

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [19]:
# Podemos ingresar al ultimo elemento de la lista
print(promedios[-1])

23.6

In [21]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [25]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"/Alumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"cali {j} - {cali_j}")

    #no me salio revisar

/Alumno 1
cali 1 - 100
cali 1 - 88
cali 1 - 93
/Alumno 1
cali 1 - 99
cali 1 - 56
cali 1 - 72

# Tuplas
colleciones ordenadas pero inmutables

In [26]:
#Hagamos un programa donde guardemos fechas de nacimientos de un grupo de una
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [28]:
#ES INMUTABLE
fechas.append("10/06/03") # VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicas de una lista

# Sets
Los sets son colecciones SIN orden y que no permiten elementos duplicados

In [32]:
nombres = {"Angel","Eliud","Diana","Juan","Juan"}
print(nombres)
print(type(nombres))

{'Angel', 'Diana', 'Juan', 'Eliud'}
<class 'set'>

In [35]:
distintos_datos = {"Angel", 1, "Diana", "Juan", "Juan", 4.8}
print(distintos_datos)

{'Angel', 1, 'Diana', 4.8, 'Juan'}

In [36]:
#Add
nombres.add("Leonardo")
nombres

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [37]:
print(nombres[2]) #Va a marcar error porque los sets no tienen orden

TypeError: 'set' object is not subscriptable

In [39]:
# Union
matutino = {20322,22183,123123,53234}
vespertino = {20333,11111,2222,33333}
toltal_matriculas = matutino.union(vespertino)
print(toltal_matriculas)
toltal_matriculas = matutino | vespertino
print(toltal_matriculas)

{20322, 22183, 11111, 20333, 2222, 53234, 123123, 33333}
{20322, 22183, 11111, 20333, 2222, 53234, 123123, 33333}

In [40]:
#Interseccion
ca = {1234,121,646,12414,73434,124124,675234}
al = {1234,111,222,333,444}
#interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
#interseccion con &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [43]:
#Diferencia
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca -al
print(solo_calculo)


solo_algebra = al.difference(ca)
print(solo_algebra)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}
{444, 333, 222, 111}

In [44]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
#remove y pop
nombre.remove("Juan") #Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() # Elimina un elemento de  manera aleatoria
print(nombre)

{'Angel', 'Diana', 'Eliud'}
{'Diana', 'Eliud'}

In [45]:
# Eliminar todo el SET
nombres.clear()
nombres

set()

# Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave: valor

In [47]:
alumno = {
    #clave     valor
"nombre": "Fernando Garcia",
"edad": 21,
"Carrera": "IMC",
"semestre": 1,
"promedio": 88,
"calificaciones": [100,94,94,97,100]
}

In [48]:
print("El alumno", alumno["nombre"], "esta estudiando", alumno["Carrera"], "en el semestre", alumno["semestre"])

El alumno Fernando Garcia esta estudiando IMC en el semestre 7

In [52]:
#Agregar al diccionario
alumno["area_preferida"] = "Diseno CAD"
print(alumno)

{'nombre': 'Fernando Garcia', 'edad': 21, 'Carrera': 'IMC', 'semestre': 7, 'promedio': 88, 'calificaciones': [100, 94, 94, 97, 100], 'area_preferida': 'Diseno CAD'}

In [53]:
for valor in alumno:
  print(alumno[valor])

Fernando Garcia
21
IMC
7
88
[100, 94, 94, 97, 100]
Diseno CAD

In [54]:
for aspecto, valor in alumno.items(): #devuelve una vista de todos los pares calve:valor del diccionario
  print(aspecto, valor)

nombre Fernando Garcia
edad 21
Carrera IMC
semestre 7
promedio 88
calificaciones [100, 94, 94, 97, 100]
area_preferida Diseno CAD

In [56]:
# El metodo .clear tambien se puede utilizar aqui
#Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Fernando Garcia

In [58]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))

alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Fernando Garcia'), ('edad', 21), ('Carrera', 'IMC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area_preferida', 'Diseno CAD')])
<class 'dict_items'>
[('nombre', 'Fernando Garcia'), ('edad', 21), ('Carrera', 'IMC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area_preferida', 'Diseno CAD')]
<class 'list'>

In [59]:
# El metodo .values() ssirve para obtener los valores del diccionario, tambien se puede usar en la interaccion
alumno_v = alumno.values()
print(alumno_v)
print(type(alumno_v))

dict_values(['Fernando Garcia', 21, 'IMC', 7, 88, [100, 94, 94, 97, 100], 'Diseno CAD'])
<class 'dict_values'>

In [60]:
if "Carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if "Dinero" in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [62]:
#.copy()puedes copiar todo el diccionario en una nueva variable
# update -> Sirve para cambiar los values (.update())
alumno.update({"semestre": 6})
alumno

{'nombre': 'Fernando Garcia',
 'edad': 21,
 'Carrera': 'IMC',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area_preferida': 'Diseno CAD'}